<div class="container">
    <div class="col-md-10">
        <div class="jumbotron">
            <h2>Blocipedia</h2>
            <p>Join in and collaborate on community-sourced content!</p>
        </div>
    </div>
</div>
