<div class="container">
    <div class="col-md-10">
        <% @wikis.each_with_index do |w, i|%>
            <div class="row">
                <h3><%= link_to w.title, wiki_path(w) =%></h3>
                <p><%=truncate(w.body, length: 400) =%></p>
            </div>
        <% end %>
    </div>
</div>