<div class="container">
    <div class="wiki-index">
        <% @wikis.each_with_index do |w, i|%>
            <div class="row">
                <h1><%= link_to w.title, wiki_path(w.id) =%></h1>
                <p><%=truncate(w.body, length: 400) =%></p>
            </div>
        <% end %>
    </div>
</div>