@import "bootstrap-sprockets";
@import "bootstrap";
@import "wiki";

.align-right{
    position: relative;
    float: right;
    margin: 1rem;
    padding: 1rem;
}

.align-left{
    position: relative;
    float: left;
    margin: 1rem;
    padding: 1rem;
}


.search{
    padding-top: 5px;
    margin-bottom: 0;
}

.navbar{
    margin-bottom: 0;
}

.close-links{
    padding-left: 0px;
    margin-left: 0;
}

.grouped-links{
    margin-top: 0;
}

#home{
    color: black;
    margin-bottom: 0;
}

#fix{
    margin-top: 1rem;
}

#sidebar{
    background-color: white;
    height: 100%;
    text-align: center;
}

.role{
    color: red;
}



