.wiki{
    display: flex;
    justify-content: center;
}

.wiki-title{
    
}

.wiki-body{
    width: 900px;
    height: 500px;
}

.wiki-body textarea{
    height: 500px;
}

.wiki-private{
    margin-top: 3rem;
}

.wiki-private, .wiki-save{
    display: flex;
    justify-content: flex-end;
}

.wiki-info{
    border-radius: 6px;
    background-color: rgb(238, 238, 238);
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.wiki-index .row{
    margin-left: 1rem;
}

.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
}

.delete{
    color: red;
}

.btn-white{
    background-color: white;
}

.body{
    text-indent: 50px;
}

.row:before, .row:after{
    display: initial;
}