.wiki{
    display: flex;
    justify-content: center;
}

.wiki-title{
    
}

.wiki-body{
    width: 900px;
    height: 500px;
}

.wiki-body textarea{
    height: 500px;
}

.wiki-private{
    margin-top: 3rem;
}

.wiki-private, .wiki-save{
    display: flex;
    justify-content: flex-end;
}