.container
  .row.flex-column
    %h2 Do you want to downgrade back to a Standard User
    %h3 All settings will return to Standard User settings
    .flex
      = link_to 'No Way!', root_path, class: "btn btn-success item"
      = link_to 'Downgrade', downgrade_path, :method => :delete, data: { confirm: 'Are you sure you want to return to a standard user? All private Wikis will be returned to Public.' }, class: "item"