<div class="container">
   <div class="jumbotron flex-column">
      <h1>Upgrade to a Premium User for just $10</h1>
      <h2>and create private wiki's that only you can touch!</h2>
      <div class="align-right">
         <%= form_tag charges_path do %>
            <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
         <% end %>
      </div>
   </div>
</div>